name: Unit tests

on:
  push:
    branches:
    - master
    paths:
    - 'flake.lock'
    - 'pkgs/build-support/**'
  pull_request:
    paths:
    - 'flake.lock'
    - 'pkgs/build-support/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6

    - uses: cachix/install-nix-action@v31
      with:
        # nixpkgs channel is needed for the unit tests
        nix_path: nixpkgs=channel:nixos-unstable

    - run: nix flake update
      working-directory: pkgs/build-support/elisp

    - name: Run unit tests
      run: |
        set -euo pipefail
        nix-instantiate --strict --eval --json pkgs/build-support/**/test*.nix \
        | jq
